.App-header {
  background-color: #6795D1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 600;
  padding: 8px;
  min-height: 100vh;
 
}

.cloud1 {
  height: 40vmin;
}


@keyframes cloud1 {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(-800px);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .cloud1 {
    animation: cloud1 infinite 20s ease-in-out;
  }
}



.cloud2 {
  position: relative;
  top: 100px;
  animation: cloud2 infinite 20s ease-in-out;
}

@keyframes cloud2 {
  from {
    transform: translateX(0px);
  } 
  to {
  transform: translateX(-400px);
  }
}

.cloud3 {
  min-height: 30vh;
  animation: cloud3 infinite 20s ease-in-out;
}

@keyframes cloud3 {
  0% {
    transform: translateX(-800px);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform:translateX(800px);
    
  }
}


p {
  z-index: 1;

}

span {
  font-weight: 800;
  color:#fbb9b9;
}

button {
  border : none;
  color: white;
  background: none;
  font-size: 24px;
  font-weight: 600;
}


.about {
  color: #fbb9b9;
}

.edy {
  width: 300px;
}

.tittle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:-250px;
}

.App-header a {
  text-decoration: none;
  border-radius: 48px;
  background: linear-gradient(145deg, #6fa1df, #5e87bb);
  box-shadow:  10px 10px 20px #5880b1, -10px -10px 20px #78adef;
  color:whitesmoke;
  padding: 12px 24px;
  cursor: pointer;
}

.App-header a:hover{
  transition-duration: 0.5s;
  border-radius: 48px;
  background: #6896D0;
  box-shadow: inset 10px 10px 20px #5880b1, 
            inset -10px -10px 20px #78adef;
}