.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 600;
  padding: 8px;
  min-height: 100vh;
  transition: background 3s;
}


.moon {
  transition: opacity 3s;
}

.cloud1 {
  height: 40vmin;
}


@keyframes cloud1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }

  100% {
    transform: translateX(0);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .cloud1 {
    animation: cloud1 infinite 20s ease-in-out;
    transition: opacity 3s;
  }
}
.cloud2 {
  position: relative;
  top: 100px;
  animation: cloud2 infinite 20s ease-in-out;
  transition: opacity 3s;
}

@keyframes cloud2 {
  0% {
    transform: translateX(0px);
  } 
  50% {
  transform: translateX(-400px);
  }
  100%{
    transform: translateX(0px);
  }
}

.cloud3 {
  min-height: 30vh;
  animation: cloud3 infinite 35s linear;
  transition: opacity 3s;
}

@keyframes cloud3 {
  0% {
    transform: translateX(0);
  }

  40% {
    transform:translateX(800px);
    opacity: 1;
  }
  41% {
    transform:translateX(800px);
    opacity: 0;
  }

  42% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  43% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}


p {
  z-index: 1;

}

span {
  font-weight: 800;
  color:#fbb9b9;
}

button {
  border : none;
  color: white;
  background: none;
  font-size: 24px;
  font-weight: 600;
}


.about {
  color: #fbb9b9;
}

.edy {
  width: 300px;
}

.tittle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top:-250px;
}

.App-header a {
  text-decoration: none;
  cursor: pointer;
  color:white;

}

.frame {
  width: 400px;
}

.frame:hover {
  cursor: pointer;
}

.art_box {
  display: flex;
}

.art_box img {
  margin: 0 56px;
  transition: all 1s ease-in-out;
}

.art_box img:hover {
  transform: scale(1.2);
}

.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moon {
  position: absolute;
  left: 60vw;
}

footer {
  font-size: 18px;
  color:pink;
  display: flex;
}


/* each component css */

.frame_indivisual {
  min-height: 100vh;
  display: flex;
  align-self: center;
  justify-content: center;
}

.frame_indivisual > div {
  background-image: "../img/frame.png";
  display: flex;
  align-items: center;
}

.frame_indivisual img {
  width:300px;
}

.frame_indivisual p {
  width: 45vw;
}
#root {
  min-height: 100vh;
}

