.App-header {
  /* background-color: #fbb9b9; */
  background-color: #6795D1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: 600;
  padding: 8px;
}


.App {
  text-align: center;
}

.cloud1 {
  height: 40vmin;
}


@keyframes cloud1 {
  from {
    transform: translateX(500px);
  }
  to {
    transform: translateX(-800px);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .cloud1 {
    animation: cloud1 infinite 20s ease-in-out;
  }
}



.cloud2 {
  position: relative;
  top: 100px;
  animation: cloud2 infinite 20s ease-in-out;
}

@keyframes cloud2 {
  from {
    transform: translateX(0px);
  } 
  to {
  transform: translateX(-400px);
  }
}

.cloud3 {
  min-height: 30vh;
  animation: cloud3 infinite 20s ease-in-out;
}

@keyframes cloud3 {
  0% {
    transform: translateX(-800px);
  }

  50% {
    transform: translateX(400px);
  }

  100% {
    transform:translateX(800px);
    
  }
}


p {
  z-index: 1;

}

span {
  font-weight: 800;
}

button {
  border : none;
  color: white;
  background: none;
  font-size: 24px;
  font-weight: 600;
}


.about {
  color: #fbb9b9;
}